<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Appointments
                </div>
                <div class="card-block ">
                    <table class="table table-bordered table-striped table-condensed ">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Number</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Carrier</th>
                                <th>Contact</th>
                                <th>Customer</th>
                                <th>Trailer</th>
                                <th>Location</th>
                                <th>Trans Type</th>
                                <th>User</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appointment of pagedItems ">
                                <td>{{appointment.id}}</td>
                                <td>{{appointment.apptNumber}}</td>
                                <td>{{appointment.apptStatus}}</td>
                                <td>{{appointment.appointDate}}</td>
                                <td>{{appointment.carrier}}</td>
                                <td>{{appointment.contact}}</td>
                                <td>{{appointment.customer}}</td>
                                <td>{{appointment.trailer}}</td>
                                <td>{{appointment.location}}</td>
                                <td>{{appointment.transactionType}}</td>
                                <td>{{appointment.username}}</td>
                                <td>{{appointment.comments}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav style="float:right;">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.currentPage===1 } ">
                                <a (click)="setPage(1) ">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage===1 } ">
                                <a (click)="setPage(pager.currentPage - 1) ">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages " [ngClass]="{active:pager.currentPage===page} ">
                                <a (click)="setPage(page) ">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage===pager.totalPages} ">
                                <a (click)="setPage(pager.currentPage + 1) ">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage===pager.totalPages} ">
                                <a (click)="setPage(pager.totalPages) ">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>